@import "./sass/main.sass"

/* General */
body 
  background-color: #fff

footer
  background-color: #e8ebee


.btn-default 
  background-color: #FFE615 !important

.color-default 
  color: #FFE615 !important


.alert 
  margin-top: 10px


.container 
  margin-top: 10px

a
  text-decoration: none

.form-group, form p
  margin-top: 10px

h1
  font-family: flanders-sans !important
  font-weight: 500 !important

/* Fix @solid/react */
.solid.auth 
  display: inline-block
  font-weight: 400
  color: #212529
  text-align: center
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-color: transparent
  border: 3px solid transparent
  font-size: inherit
  line-height: 1.5
  border-radius: .25rem
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out

/* Fix @vl */
.vl-form__error 
  color: red

/* Fix tooltip overflow */
.__react_component_tooltip
  max-width: 70vw

/* Form */
#formSelection 
  margin-bottom: 10px


#formSelection .nav-item .active 
  background-color: #FFE615


#formSelection a.nav-link 
  color: black
  background-color: #fff

/* Modal help */
.modal-tooltip
  font-size: 15px
  height: 150px

.modal-tooltip > .header 
  width: 100%
  border-bottom: 1px solid gray
  font-size: 22px
  text-align: center
  padding: 5px

.modal-tooltip > .content 
  width: 100%
  padding: 10px 5px

.clickable 
  cursor: pointer

.total-text
  font-size: 30px
  padding: 10px
  text-align: right
  font-weight: 500

.vl-title.vl-title--h3
  margin-top: 15px

.vl-title.vl-title--h2
  margin-top: 15px
  margin-bottom: 30px