@import "./sass/main.sass"

/* General */
body 
  background-color: #fff

footer
  background-color: #e8ebee


.btn-default 
  background-color: #FFE615 !important

.color-default 
  color: #FFE615 !important


.alert 
  margin-top: 10px


.container 
  margin-top: 10px

a
  text-decoration: none

.form-group, form p
  margin-top: 10px

/* Fix @solid/react */
.solid.auth 
  display: inline-block
  font-weight: 400
  color: #212529
  text-align: center
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-color: transparent
  border: 3px solid transparent
  font-size: inherit
  line-height: 1.5
  border-radius: .25rem
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out

/* Fix @vl */
.vl-form__error 
  color: red

/* Form */
#formSelection 
  margin-bottom: 10px


#formSelection .nav-item .active 
  background-color: #FFE615


#formSelection a.nav-link 
  color: black
  background-color: #fff
